bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
# Azure emulator data
__azurite_db_*.json
__blobstorage__/
__queuestorage__/

# Certificates and keys
*.pem

# Local settings
local.settings.json

# Python virtual environment
.venv/